@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }  */


 /* sheared style  */

 .body{
      font-family: "Inter", sans-serif;
 }

  

/* header section start */


.container{
    width: 90%;
    margin: 0 auto;
}

.menu ul {
display: flex;
margin: 0 auto;
gap: 16px;
}
.menu ul li{
    font-size: 16px;
    color: #ffffffc2;

    
}

header .btn{
    padding: 12px 16px;
    background-color: #FB09B4;
   
}

/* hero section start */

.hero{
      background-image: url(./assets/hero-bg.png);
      width: 100%;
      max-width: 100%;
      height: 700px;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
     position: relative;
     overflow: hidden; 
}
.mics-things{
    align-items: center;
    justify-content: center;
}

.banner .icon-image{
    position: relative;
    left: 120px;
    top: 75px;
     width: 350px;
     height: 350px;  
}
.mics-things .badge{
    width: 75px;
    height: 38px;
    border-radius: 40px;
    font-weight: 500;
    padding: 8px 16px;
    position: relative;
    left: 390px;
    bottom: 230px;
    
}

.mics-things .mice-image{
   position: relative;
   left: 235px;
   bottom: 230px;
 
}   

.wave {
    text-align: center;
    justify-content: center;
   position: relative;
   bottom: 80px;
}

.banner .button{
    text-align: center;
    position: relative;
    bottom: 23px;

}
.button .btn-1{
    padding-right: 9px;
    font-weight: 500;
    line-height: auto;
    margin-right: 17px;
}

.button
.btn-2{
  border: 2px solid #00FF88 ;
  background-color: transparent;
  color: #00FF88;
}


/* podcast section start */


.podcast{
    width: 1600px;
    height: 646px;
}

.podcast-contant{
    text-align: center;
    margin-right: 50px;
    
}
.border-line{
    border: 1px solid #ffffff8a;
    position: relative;
    top:80px ;
}

.rg-1{
    line-height: 20px;
}
.rg-2{
    line-height: 20px;
}
.podcast-nmbar{
    gap: 150px;
}
.podcast-nmbar .peragra-02{
    margin-top: 16px;
  

}

/* cards section */

.cards{
    width: 1600px;
    height: 1121px;
    background-color: #230E3D;
    
    
   
}

.card-title {
    text-align: center;
}

.card-title h1{
    color: #ffffffd8;
    font-size:48px;
    font-weight: bold;
    position: relative;
    right: 40px;
    top: 100px;
}

.cards
.cards-container{
    width: 70%;
    /* background-color: aqua; */
    margin: 0 auto;

     position: relative;
    top: 200px; 

}


.hlw{
    width: 80px;
}

/* .cards-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    gap: 3px;
} */


.Friendly{
    border: 2px solid #471485;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
   padding-top: 100px ;
   background-color: #370d6b;
   border-radius: 40px;
   
    
}

.Friendly .icon{
    position: relative;
    left: 40px;
    bottom: 16px;
}

.Mobile {
    border-radius: 40px;
    padding: 40px;
    position: relative;
    left: 20px;
}

.Mobile h2{
    position: relative;
    top: 16px;
}

.Mobile p{
    position: relative;
    top: 30px;
}

.Global {
    border-radius: 40px;
    padding: 40px;
    position: relative;
    left: 20px;
}

.Global h2{
    position: relative;
    top: 16px;
}

.Global p{
    position: relative;
    top: 30px;
}

.Exclusive-Interviews h2{
position: relative;
top: 16px;

}

.Exclusive-Interviews p{
    position: relative;
    top: 18px;
    line-height: 24px;
}


.Rich-Resources{
    border-radius: 40px;
    padding: 40px;
    position: relative;
    left: 30px;

}

.Rich-Resources h2{
    position: relative;
    top: 20px;
}

.Rich-Resources p{
    position: relative;
    top: 30px;
    line-height: 24px;
    
}